body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

.panels {
  width: 100%;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.panels .panel {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: background 0.5s ease-in-out, -webkit-box-flex 0.7s cubic-bezier(0.68, 0.56, 0.47, 0.62);
  transition: background 0.5s ease-in-out, -webkit-box-flex 0.7s cubic-bezier(0.68, 0.56, 0.47, 0.62);
  transition: background 0.5s ease-in-out, flex 0.7s cubic-bezier(0.68, 0.56, 0.47, 0.62);
  transition: background 0.5s ease-in-out, flex 0.7s cubic-bezier(0.68, 0.56, 0.47, 0.62), -webkit-box-flex 0.7s cubic-bezier(0.68, 0.56, 0.47, 0.62), -ms-flex 0.7s cubic-bezier(0.68, 0.56, 0.47, 0.62);
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0 0 5px rgba(245, 245, 245, 0.2);
          box-shadow: inset 0px 0 0 5px rgba(245, 245, 245, 0.2);
}

.panels .panel:nth-child(1) {
  background: url("https://source.unsplash.com/gYl-UtwNg_I/1500x1500") no-repeat center/cover;
}

.panels .panel:nth-child(2) {
  background: url("https://source.unsplash.com/rFKUFzjPYiQ/1500x1500") no-repeat center/cover;
}

.panels .panel:nth-child(3) {
  background: url("https://images.pexels.com/photos/1524620/pexels-photo-1524620.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center/cover;
}

.panels .panel:nth-child(4) {
  background: url("https://source.unsplash.com/ITjiVXcwVng/1500x1500") no-repeat center/cover;
}

.panels .panel:nth-child(5) {
  background: url("https://source.unsplash.com/3MNzGlQM7qs/1500x1500") no-repeat center/cover;
}

.panels .panel > *:first-child {
  -webkit-transform: translateY(-350%);
          transform: translateY(-350%);
}

.panels .panel.active > *:first-child {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.panels .panel > *:last-child {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}

.panels .panel.active > *:last-child {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.panels .panel p {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: font-size 0.5s cubic-bezier(0.39, 1.37, 0.8, 0.34), -webkit-transform 0.5s cubic-bezier(0.61, 1.58, 1, 1.07);
  transition: font-size 0.5s cubic-bezier(0.39, 1.37, 0.8, 0.34), -webkit-transform 0.5s cubic-bezier(0.61, 1.58, 1, 1.07);
  transition: font-size 0.5s cubic-bezier(0.39, 1.37, 0.8, 0.34), transform 0.5s cubic-bezier(0.61, 1.58, 1, 1.07);
  transition: font-size 0.5s cubic-bezier(0.39, 1.37, 0.8, 0.34), transform 0.5s cubic-bezier(0.61, 1.58, 1, 1.07), -webkit-transform 0.5s cubic-bezier(0.61, 1.58, 1, 1.07);
  color: white;
  text-shadow: 0 0.1em 0.1em #3b3bb6;
  font-weight: 900;
}

.panels .panel p:nth-child(2) {
  text-shadow: 0 0.1em 0.1em #3b3bb6;
  font-size: 65px;
}

.show {
  -webkit-box-flex: 5 !important;
      -ms-flex: 5 !important;
          flex: 5 !important;
}

.open {
  -webkit-box-flex: 5 !important;
      -ms-flex: 5 !important;
          flex: 5 !important;
}

.open p:nth-child(2) {
  font-size: 90px !important;
}
/*# sourceMappingURL=flex-panels.css.map */